$primary: #FF6600;
.hesperso {
  .header {
    width: 100%;
  }

  .swiper-main {
    padding: 0 32px;

    .slider-item {
      padding: 12px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 4px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 60px;
        max-height: 60px;
        min-height: 60px;
        border-radius: 2px;
      }

      p {
        margin: 6px 0 0 0;
        color: #4b4b4b;
        font-size: 14px;
      }

      &.active {
        background-color: $primary;


        p {
          color: white;
        }
      }
    }

    .swiper-button-next, .swiper-button-prev {
      color: $primary;

      &:after {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }

  .logo-container {
    margin: 8px 0 12px;
    border-top: solid 1px #989898;
    width: 100%;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .items-container {
    display: flex;
    flex-direction: column;
    //width: 100%;
    padding: 0 4px;

    .items {
      display: flex;
      //width: 100%;
      background-color: #CDD1D0;
      margin-bottom: 6px;
      height: 100px;
      max-height: 100px;

      img {
        height: 100%;
        //max-height: 100px;
        max-width: 120px;
        min-width: 120px;
        width: 100%;
        object-fit: cover;
        margin-left: 6px;
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        //height: 100%;
        padding: 6px;

        h2 {
          font-size: 14px;
          color: black;
          font-weight: 600;
          margin: 0 0 2px 0;
        }

        h4 {
          margin: 0;
          font-size: 11px;
          font-weight: 400;
          color: #333333;
        }

        span {
          flex: 1;
        }

        .price-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;

          p {
            margin: 0;
            font-size: 11px;
            font-weight: 400;
            color: #333333;
          }
        }
      }
    }
  }

  .loader-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4px;

    .items-skeleton {
      background-color: #CDD1D0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      margin-bottom: 8px;

      .pic {
        width: 140px;
        height: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 6px;
        //height: 100%;
        //padding: 24px 0;
        .items {
          height: 10px;
        }

        span {
          height: 32px;
        }

        .skeleton-items-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }

    .hesperso-skeleton {
      background-color: #696c70;
      display: block;
      position: relative;
      overflow: hidden;


      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(#cccccc, 0) 0,
                rgba(#cccccc, 0.3) 50%,
                rgba(#cccccc, 0));
        animation: skeleton-background-animation 2s infinite;
        content: '';
      }

      @keyframes skeleton-background-animation {
        100% {
          transform: translateX(100%);
        }
      }
    }
  }


}
.hesperso-loading-page{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
}